 /* LANDING PAGE */
 .lp {
    background-image: url("./asd.jpg");
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    text-align: center;
    
  }

  /* .back-blur {
    background-color: #00000021;
    backdrop-filter: blur(4px);
    padding: 10px;
    margin: 0 30px;
    border-radius: 20px;
  } */



  h1 {
    font-size: 4rem;
    font-family: "Vast Shadow", serif;
    color: white;
    text-shadow: 2px 4px 3px #000000;
  }
  
  h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 4px 3px #000000;
    font-family: "Work Sans", sans-serif;
  }
  h4 {
    font-size: 2rem;
    font-family: "Vast Shadow", serif;
  }
  .categoryList {
    line-height: 2.5;
    font-size: 1.5rem;
  }
  .lp p {
    width: 50%;
    margin: 30px auto;
  }
  .btn {
    cursor: pointer;
    /* background: none; */
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.5;
    width: 20%;
    margin: 20px auto;
  background-color: rgb(64, 77, 197);
  }
  .btn:hover{
    background-color: lightblue;
  }