* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    text-align: center;
    background-image: url("./background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main-box{
    display: flex; 
    flex-direction: column;
    border-radius: 250px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  #maze {
    display: grid;
    grid-template-columns: repeat(13, 50px);
     /* grid-gap: 1px;  */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: #000;
  }
  
  .w {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  #character {
    width: 40px;
    height: 40px;
    background: url("./med_icon.png");
    background-size: cover;
    position: absolute;
  }

  /* Define the style for the "dot" class */
 .dot {
    background-color: green; /* Green background color for the dot */
    width: 10px; /* Set the width of the dot */
    height: 10px; /* Set the height of the dot */
    border-radius: 50%; /* Make it a circle */
    position: absolute;
    top: 50%; /* Position the dot in the center vertically */
    left: 50%; /* Position the dot in the center horizontally */
    transform: translate(-50%, -50%); /* Center the dot within its parent cell */
  }
  

  /* LANDING PAGE */
  .lp {
    background-image: url("https://files.slack.com/files-pri/THYP60S66-F064E3PSSRG/firefly_background_for_a_history_game_merging_medieval_and_industrial_revolution_1606.jpg");
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: aquamarine;
  }
  h1 {
    font-size: 5rem;
    font-family: "Vast Shadow", serif;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
  }
  .lp p {
    width: 50%;
    margin: 0 auto;
  }
  .btn {
    cursor: pointer;
    /* display: inline-block; */
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.5;
    /* text-align: center; */
    /* text-decoration: none; */
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
  }
  