* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    text-align: center;
    background-image: url("./background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main-box{
    display: flex; 
    flex-direction: column;
    border-radius: 250px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  #maze {
    display: grid;
    grid-template-columns: repeat(13, 50px);
     /* grid-gap: 1px;  */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: #000;
  }
  
  .w {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  #character {
    width: 40px;
    height: 40px;
    background: url("./med_icon.png");
    background-size: cover;
    position: absolute;
  }  


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* LANDING PAGE */
  .lp {
    background-image: url("./asd.jpg");
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    /* background-color: rgb(146, 128, 219); */
  }

  .back-blur {
    background-color: #00000021;
    backdrop-filter: blur(4px);
    padding: 10px;
    margin: 0 30px;
    border-radius: 20px;
  }



  h1 {
    font-size: 5rem;
    font-family: "Vast Shadow", serif;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
  }
  h4 {
    font-size: 2rem;
  }
  .categoryList {
    line-height: 2.5;
    font-size: 1.5rem;
  }
  .lp p {
    width: 50%;
    margin: 30px auto;
  }
  .btn {
    cursor: pointer;
    /* background: none; */
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.5;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightblue;
  }
  