 /* LANDING PAGE */
 body {
  background-image: url("../images/landingBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
 }

 .lp {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100vh;
    text-align: center;
    color: white;
    
 }
   .back-blur {
    background-color: #00000021;
    backdrop-filter: blur(5px);
    padding: 10px;
    margin: 0 30px;
    border-radius: 20px;
  } 



  h1 {
    font-size: 6rem;
    font-family: 'New Rocker', cursive;
    text-shadow: 2px 4px 3px #000000;
    margin-bottom: 30px;
  }
  
  h3 { 
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 4px 3px #000000;
    font-family: "Work Sans", sans-serif;
  }
  h4 {
    font-size: 2rem;
    margin: 20px 0;
    
  }
  .category{
    font-family: 'Prompt', sans-serif;
  }
  .categoryList {
    line-height: 2.5;
    font-size: 1.5rem;
  }
  .lp p {
    width: 50%;
    margin: 30px auto;
    font-family: 'Prompt', sans-serif;
  }
  .btn {
    cursor: pointer;
    /* background: none; */
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.5;
    width: 20%;
    margin: 20px auto;
  background-color: rgb(87 109 97);
  }
  .btn:hover{
    background-color: rgb(109, 121, 115) ;
  }