* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "New Rocker", cursive;
}

body {
  text-align: center;
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "New Rocker", cursive;
  height: 100vh;
}

/* ICONS */
.homepage-icons {
  background: transparent;
  border: none;
  padding: 5px;
  outline: none;
}
.homepage-icons img {
  width: 30px;
  height: 30px;
  background: transparent;
}
.homepage-icons img:hover {
  transform: scale(1.1);
  background: none;
  border: none;
  outline: none;
}

/* MAZE  */
.main-box {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "new-rock";
}

#maze {
  display: grid;
  grid-template-columns: repeat(13, 50px);
  /* grid-gap: 1px;  */
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  /* background-color: #000; */
  background-image: url("../images/wall2.png");
  background-size: cover;
}

.w {
  background: rgb(255, 255, 255, 0.25);
}

#character {
  width: 50px;
  height: 50px;
  background: url("../images/med_icon.png");
  background-size: cover;
  position: absolute;
  transform: scaleX(-1);
}

/* Modal Content */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
}

.modal-content {
  font-size: 20px;
  background-color: antiquewhite; /*modal content updated to be more readable for students*/
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 20px;
  box-shadow: #000;
}
.close {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 32px;
}
.instructions p {
  font-size: 30px;
}

.modal-content ul {
  line-height: 2;
  padding: 20px;
  list-style: none;
}

.modal-content h2 {
  font-size: 2rem;
  background-color: antiquewhite;
}
.modal-content h3 {
  color: #ff5722;
}

#BackToHomepage {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 50px;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 16px;
  margin-top: 30px;
}

/* Checkpoint  */
.green {
  color: green;
}
.red {
  color: red;
}
.small {
  font-size: 25px;
}

#checkp {
  font-size: 20px;
}
.options {
  line-height: 2;
  padding: 10px;
}
#submit {
  font-size: 20px;
  padding: 10px 20px;
  background-color: antiquewhite;
}

/* radio button styling in the MCQ checkpoint modal */
#checkp input[type="radio"] {
  display: none;
}

#checkp label {
  display: inline-block;
  border: 1px solid rgba(67, 37, 16, 0.5);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: antiquewhite;
  cursor: pointer;
}

#checkp label:hover {
  background-color: rgb(224, 179, 115);
}

#checkp input[type="radio"]:checked + label {
  background-color: rgb(224, 179, 115);
  color: #000;
  box-shadow: inset 0px 0px 5px rgba(67, 37, 16, 0.5);
}

#checkp input[type="radio"]:focus + label {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* ADD POST */
.addQuiz {
  line-height: 5;
  background-color: antiquewhite;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/*media query to fix the screen-sizing issue*/
/*using average resolution for tv sizes - 1920px */

@media (max-width: 1920px) {
  .main-box {
    height: 100vh;
  }
}
